* {
  box-sizing: border-box;
}
.container {
  font-size: 1rem;
  margin: auto;
  display: block;
  border: solid 1px rgb(222,226,230);
  max-width: 640px;
  padding: 1.5rem;
  line-height: 1.5;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.collapse.show {
  overflow: hidden;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  background-color: rgb(13, 110, 253);
  color: white;
  font-size: 1rem;
  padding: .375rem .75rem;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #0b5ed7;
}

.card {
  margin: auto;
  display: block;
  border: solid 1px rgb(222,226,230);
  display: flex;
  flex-direction: column;
}

.card-body {
  padding: 1rem;
}